.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.main {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.editor {
  width: 50vw;
  padding: 10px;
}

.result {
  width: 50vw;
  height: 100%;
  padding: 10px;
}
